@page
@model WebApp.Areas.TipoCategorias.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Categorias";
    Layout = "_Layout";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item">Clientes</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col align-self-lg-end">
                <a asp-area="TipoCategorias" asp-page="Index" class="btn btn-outline-info float-right"><i class="fas fa-arrow-left"></i> Volver al Listado</a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Edite su formulario correctamente</div>
            <div class="card-tools">

            </div>
        </div>
        <div class="card-body">
            <!-- form start -->
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TipoCategoria.IdCategoria" />
                <div class="form-group">
                    <label asp-for="TipoCategoria.Nombre" class="control-label"></label>
                    <input asp-for="TipoCategoria.Nombre" class="form-control" />
                    <span asp-validation-for="TipoCategoria.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoCategoria.Estado"></label>
                    <select asp-for="TipoCategoria.Estado" class="form-control">
                        <option value="@ApplicationCore.Enum.Estado.Habilitado">@ApplicationCore.Enum.Estado.Habilitado</option>
                        <option value="@ApplicationCore.Enum.Estado.Deshabilidato">@ApplicationCore.Enum.Estado.Deshabilidato</option>
                    </select>
                    <span asp-validation-for="TipoCategoria.Estado" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" language="javscript">
        $.validator.unobtrusive.parse(document);
        $(document).ready(function () {
            $('#a-tipoCategoria').addClass('active');
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
