@page
@model WebApp.Areas.TipoCategorias.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Categorias";
    Layout = "_Layout";
}
@section Styles{
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-page="Index">Inicio</a></li>
                    <li class="breadcrumb-item">Catalogos</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-title">Listado de @ViewData["Title"]</div>
            <div class="card-tools">
                <a asp-area="TipoCategorias" asp-page="Create" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Nuevo Registro</a>
            </div>
        </div>
        <div class="card-body table-responsive-md p-3">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <select class="form-control" id="sizePage" style="width:75px;">
                            @foreach (var item in Model.UIPagination.SizesPages)
                            {
                                if (Model.UIPagination.GetSizePage == item)
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 offset-md-7">
                    <div class="form-group float-lg-right">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar" id="searchString" value="@Model.UIPagination.SearchString">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-responsive-md table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:8%;">Id</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th style="width:20%;" class="text-center">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Electrodomésticos.Count > 0)
                    {
                        @foreach (var item in Model.Electrodomésticos)
                        {
                    <tr>
                        <td style="width:8%;">@item.IdCategoria</td>
                        <td class="text-wrap">
                            @*<img alt="@item.NombreCompleto()" class="img-fluid img-thumbnail img-size-64" src="@item.Fotografia">*@
                            @item.Nombre
                        </td>
                        <td>@item.Estado</td>
                        <td style="width: 20%;" class="text-center">
                            <a class="btn btn-info btn-sm" asp-area="TipoCategorias" asp-page="Edit" asp-route-id="@item.IdCategoria">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" asp-area="TipoCategorias" asp-page="Delete" asp-route-id="@item.IdCategoria">
                                <i class="fas fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No se encontraron registros</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <partial name="_PaginationUI" model="Model.UIPagination" />
        </div>
    </div>
</section>
@section Scripts{
    <!-- Pager -->
    <script src="~/js/pager.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#a-tipoCategoria').addClass('active');

            $('#sizePage').change(function () {
                filterPaginate("sizePage", $(this).val())
            });
            $('.page-link').click(function () {
                filterPaginate("currentPage", $(this).data("page"))
            });
            $('#searchString').on('keyup', function (e) {
                if (e.key === "Enter" || e.keyCode == 13) {
                    filterPaginate("searchString", $(this).val());
                }
            });
        });
    </script>
    @await Component.InvokeAsync("Notyf");
}
